
;; !  | means mandatory
;; #  | means optional
;; C  | left_command
;; T  | left_control
;; O  | left_option
;; S  | left_shift
;; F  | fn
;; Q  | right_command
;; W  | right_control
;; E  | right_option
;; R  | right_shift
;; !! | mandatory command + control + optional + shift (hyper)
;; ## | optional any

;; Docs
;; https://github.com/yqrashawn/GokuRakuJoudo/blob/master/examples.org

{
 :templates {:open "open \"%s\""}

 :simlayers {;; make w key a simlayer key
             ;; layers works too, but only recommended for none typing keys
             ;; like . , tab
             ;; or keys like z, which used less often
             :launch-mode {:key :l}
             } ;; simlayers

 :profiles {
            :Default {  :default true
                      :sim     50     ;; simultaneous_threshold_milliseconds (def: 50)
                      ;; keys need to be pressed within this threshold to be considered simultaneous
                      :delay   200    ;; to_delayed_action_delay_milliseconds (def: 500)
                      ;;
                      :alone   200    ;; to_if_alone_timeout_milliseconds (def: 1000)
                      ;; hold for 995s and single tap registered; hold for 1005s and seen as modifier
                      :held    1000   ;; to_if_held_down_threshold_milliseconds (def: 500)
                      ;; key is fired twice when 500 ms is elapsed (otherwise seen as a hold command)
                      }
            } ;; profiles


 :applications  {;; define applications
                 :obsidian ["^md\\.obsidian$"]
                 :slack ["^com\\.tinyspeck\\.slackmacgap$"]
                 :mattermost ["^Mattermost\\.Desktop$"]
                 :alacritty ["^io\\.alacritty$"]
                 :Browsers [;; these strings are regex to match applications bundle_identifiers
                            ;; you can find bundle_identifiers in the Info.plist file of an applications
                            ;; eg. in /Applications/Mail.app/Contents/Info.plist
                            ;; search for "CFBundleIdentifier"
                            ;; you can also find bundle_identifiers using command line:
                            ;; osascript -e 'id of app "Google Chrome"'
                            "^org\\.mozilla\\.firefox$"
                            "^org\\.mozilla\\.firefoxdeveloperedition$"
                            "^com\\.google\\.Chrome$"
                            "^com\\.brave\\.Browser$"
                            "^org\\.chromium\\.Chromium$"
                            "^com\\.google\\.Chrome\\.canary$"
                            "^com\\.apple\\.Safari$"]}

 :main [
        {:des   "caps_lock to esc when pressed alone, to ctrl as modifier"
         :rules [[:##caps_lock :left_control nil {:alone :escape}]]}

        {:des   "launch mode"
         :rules [:launch-mode
                 [:f [:open "/Applications/Brave Browser.app"]]
                 [:t [:open "/Applications/Alacritty.app"]]
                 [:e [:open "/nix/store/2lzmvd5clkcxa4ddzkc8p85v7kq7vhg6-emacsGccDarwin/Applications/Emacs.app"]]
                 [:s [:open "/Applications/Slack.app"]]
                 [:a [:open "/Applications/Mattermost.app"]]
                 ]}

        {:des   "browsers"
         :rules [
                 [:condi :Browsers]
                 [:!Th :!CSopen_bracket]
                 [:!Tl :!CSclose_bracket]
                 [:!Tr :!Cr]
                 [:!Tt :!Ct]
                 [:!Tspacebar :!Cgrave_accent_and_tilde]
                 ]}

        {:des   "obsidian"
         :rules [
                 [:condi :obsidian]
                 [:!Tc :escape]
                 [:!Tk :up_arrow]
                 [:!Tj :down_arrow]
                 [:!STp :!Cp]
                 [:!Tp :!Co]
                 [:!Tn :!Cn]
                 [:!Tspacebar :!Cgrave_accent_and_tilde]
                 ]}

        {:des   "slack"
         :rules [
                 [:condi :slack]
                 [:!Tk :!SOup_arrow]
                 [:!Tj :!SOdown_arrow]
                 [:!Tt :!SCt]
                 [:!Tf :!Ck]
                 ]}

        {:des   "mattermost"
         :rules [
                 [:condi :mattermost]
                 [:!Tk :!SOup_arrow]
                 [:!Tj :!SOdown_arrow]
                 [:!Cup_arrow :up_arrow]
                 ]}

        {:des   "alacritty"
         :rules [
                 [:condi :alacritty]
                 [:!Ca :!Oa]
                 [:!Cs :!Os]
                 [:!Cd :!Od]
                 [:!Cf :!Of]
                 [:!Cj :!Oj]
                 [:!Ck :!Ok]
                 [:!Cu :!Ou]
                 [:!Ci :!Oi]
                 [:!Co :!Oo]
                 [:!Cl :!Ol]
                 ]}
        ]
 }
