snippet fn "fn"
func $1($2) {
	$0
}
endsnippet

snippet pac "package"
package $0
endsnippet

snippet re "return"
return $0
endsnippet

snippet if "if"
if $1 {
	$0
}
endsnippet

snippet for "for"
for $1 {
	$0
}
endsnippet

snippet range "range"
for $1 := range $2 {
	$0
}
endsnippet
