snippet l "let"
let $1 = $0;
endsnippet

snippet st "struct"
struct $1 {
	$0
}
endsnippet

snippet for "for"
for $1 {
	$0
}
endsnippet

snippet if "if"
if $1 {
	$0
}
endsnippet

snippet ma "match"
match $1 {
	$0
}
endsnippet

snippet # "#[...]"
#[$0]
endsnippet

snippet while "while"
while $1 {
	$0
}
endsnippet

